.DS_Store
.idea/

*.app/Icon*
*.app/Contents/Info.plist
*.app/Contents/PkgInfo
*.app/Contents/MacOS/*
*.app/Contents/Resources/applet.icns
*.app/Contents/Resources/applet.rsrc
*.app/Contents/Resources/description.rtfd
!*.app/Contents/Resources/Scripts/main.scpt
